<div id="map-container" data-api_graphql-endpoint="<%= api_graphql_url %>" data-api-endpoint="<%= moments_api_url %>" data-api-years-endpoint="<%= years_api_url %>">
  <%= render partial: 'home/slider' %>

  <div id='map'></div>
</div>
