<div class="slider wrapper">
    <button class="ui icon red mini button" id="slider-decrease">
      <i class="caret up icon"></i>
    </button>
    <div id="slider-huge"></div>
    <button class="ui icon red mini button" id="slider-increase">
      <i class="caret down icon"></i>
    </button>
</div>

<div class="slider current-time">
  <label>Current Year</label>
  <span id="huge-value" class="value"></span>
</div>
