<div class="slider wrapper">
    <button class="ui icon red mini button" id="slider-decrease">
      <i class="caret up icon"></i>
    </button>
    <div id="slider-huge"></div>
    <button class="ui icon red mini button" id="slider-increase">
      <i class="caret down icon"></i>
    </button>
</div>

<div class="slider change-current-date current-time">
  <label>Current Date</label>
  <span id="huge-value" class="value"></span>

  <form action="<%= api_url %>" method="post" accept-charset="utf-8">
    <div class="ui right action left icon hide input">
      <i class="search icon"></i>
      <input placeholder="Go to date..." class="chosen-date" type="text">
      <div class="ui basic floating dropdown button">
        <div class="text option-time-label">BC</div>
        <i class="dropdown icon"></i>
        <div class="menu">
          <div class="item">BC</div>
          <div class="item">AD</div>
        </div>
      </div>
    </div>
  </form>
</div>
