---
http_interactions:
- request:
    method: post
    uri: https://myalgoliaid.algolia.net/1/indexes/influencers/batch
    body:
      encoding: UTF-8
      string: '{"requests":[{"action":"addObject","body":{"objectID":4892,"id":4892,"name":"Rosa
        Parks","gender":"female","kind":"person"}}]}'
    headers:
      X-Algolia-Api-Key:
      - myalgoliakey
      X-Algolia-Application-Id:
      - myalgoliaid
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Content-Disposition:
      - inline; filename=a.txt
    body:
      encoding: UTF-8
      string: '{"objectIDs":["4892"],"taskID":252560442842}

'
  recorded_at: Wed, 20 Sep 2017 01:08:13 GMT
recorded_with: VCR 3.0.3
