---
http_interactions:
- request:
    method: post
    uri: https://ua6ysns2dh.algolia.net/1/indexes/events/batch
    body:
      encoding: UTF-8
      string: '{"requests":[{"action":"addObject","body":{"objectID":1651,"id":1651,"name":"Second
        World War","type":"event","earliest_year":1000}}]}'
    headers:
      X-Algolia-Api-Key:
      - 89869638d077cd3c8e801dfe86a5db16
      X-Algolia-Application-Id:
      - UA6YSNS2DH
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Content-Disposition:
      - inline; filename=a.txt
    body:
      encoding: UTF-8
      string: '{"objectIDs":["1651"],"taskID":27066984761}

'
  recorded_at: Fri, 29 Sep 2017 03:44:50 GMT
- request:
    method: post
    uri: https://ua6ysns2dh.algolia.net/1/indexes/events/batch
    body:
      encoding: UTF-8
      string: '{"requests":[{"action":"addObject","body":{"objectID":1651,"id":1651,"name":"Second
        World War","type":"event","earliest_year":1000}}]}'
    headers:
      X-Algolia-Api-Key:
      - 89869638d077cd3c8e801dfe86a5db16
      X-Algolia-Application-Id:
      - UA6YSNS2DH
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Content-Disposition:
      - inline; filename=a.txt
    body:
      encoding: UTF-8
      string: '{"objectIDs":["1651"],"taskID":27066984771}

'
  recorded_at: Fri, 29 Sep 2017 03:44:50 GMT
recorded_with: VCR 3.0.3
