---
http_interactions:
- request:
    method: post
    uri: https://myalgoliaid.algolia.net/1/indexes/influencers/batch
    body:
      encoding: UTF-8
      string: '{"requests":[{"action":"addObject","body":{"objectID":4949,"id":4949,"name":"Marie
        Curie","gender":"female","kind":"person"}}]}'
    headers:
      X-Algolia-Api-Key:
      - myalgoliakey
      X-Algolia-Application-Id:
      - myalgoliaid
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Content-Disposition:
      - inline; filename=a.txt
    body:
      encoding: UTF-8
      string: '{"objectIDs":["4949"],"taskID":25028767030}

'
  recorded_at: Wed, 20 Sep 2017 01:40:00 GMT
recorded_with: VCR 3.0.3
