---
http_interactions:
- request:
    method: post
    uri: https://ua6ysns2dh.algolia.net/1/indexes/events/batch
    body:
      encoding: UTF-8
      string: '{"requests":[{"action":"addObject","body":{"objectID":10834,"id":10834,"name":"Marie
        Curie","type":"person","earliest_date":null}}]}'
    headers:
      X-Algolia-Api-Key:
      - 89869638d077cd3c8e801dfe86a5db16
      X-Algolia-Application-Id:
      - UA6YSNS2DH
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Content-Disposition:
      - inline; filename=a.txt
    body:
      encoding: UTF-8
      string: '{"objectIDs":["10834"],"taskID":270701031221}

'
  recorded_at: Sat, 07 Oct 2017 10:09:33 GMT
recorded_with: VCR 3.0.3
