---
http_interactions:
- request:
    method: put
    uri: https://myalgoliaid.algolia.net/1/indexes/influencers/settings
    body:
      encoding: UTF-8
      string: '{"searchableAttributes":["name"]}'
    headers:
      X-Algolia-Api-Key:
      - myalgoliakey
      X-Algolia-Application-Id:
      - myalgoliaid
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Content-Disposition:
      - inline; filename=a.txt
    body:
      encoding: UTF-8
      string: '{"updatedAt":"2017-09-19T23:20:12.789Z","taskID":27060627211}

'
  recorded_at: Tue, 19 Sep 2017 23:20:12 GMT
- request:
    method: post
    uri: https://myalgoliaid-dsn.algolia.net/1/indexes/influencers/query
    body:
      encoding: UTF-8
      string: '{"params":"query=Pedr"}'
    headers:
      X-Algolia-Api-Key:
      - myalgoliakey
      X-Algolia-Application-Id:
      - myalgoliaid
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Content-Disposition:
      - inline; filename=a.txt
    body:
      encoding: UTF-8
      string: '{"hits":[{"id":2,"name":"Dom Pedro II","gender":"male","kind":"person","earliest_year_in":"1100","objectID":"320354022","_highlightResult":{"name":{"value":"Dom
        <em>Pedr</em>o II","matchLevel":"full","fullyHighlighted":false,"matchedWords":["pedr"]}}},{"id":1,"name":"Dom
        Pedro I","gender":"male","kind":"person","objectID":"320354012","earliest_year_in":"1000","_highlightResult":{"name":{"value":"Dom
        <em>Pedr</em>o I","matchLevel":"full","fullyHighlighted":false,"matchedWords":["pedr"]}}}],"nbHits":2,"page":0,"nbPages":1,"hitsPerPage":20,"processingTimeMS":1,"exhaustiveNbHits":true,"query":"Pedr","params":"query=Pedr"}

'
  recorded_at: Tue, 19 Sep 2017 23:20:13 GMT
recorded_with: VCR 3.0.3
