<section class="header">
  <div class="ui one column page padded middle aligned grid">
    <div class="column center aligned">
      <h1 class="ui header">Pinfluence's Dashboard</h1>
    </div>
  </div>
</section>
