<div class="ui middle aligned big list">
  <div class="item">
    <i class="red calendar icon"></i>
    <div class="content">
      <a href="<%= routes.events_path %>">
        Events
      </a>
    </div>
  </div>
  <div class="item">
    <i class="orange child icon"></i>
    <div class="content">
      <a href="<%= routes.people_path %>">
        People
      </a>
    </div>
  </div>
  <div class="item">
    <i class="blue world icon"></i>
    <div class="content">
      <a href="<%= routes.moments_path %>">
        Moments
      </a>
    </div>
  </div>
</div>
