<section class="header">
  <div class="ui three columns mobile reversed stackable page padded middle aligned grid">
    <div class="column"></div>
    <div class="column center aligned">
      <%= render partial: 'shared/top_brand' %>
    </div>
    <div class="column right aligned">
      <%= render partial: 'shared/menu' %>
    </div>
  </div>
</section>
