<section class="header">
  <div class="ui three columns mobile reversed stackable page padded middle aligned grid">
    <div class="column">
      <%= render partial: 'shared/search' %>
    </div>
    <div class="column center aligned">
      <h1 class="ui header">
        <img src="<%= asset_path 'logo.png' %>" class="ui mini image" alt="Logo" title="Logo" />
        <div class="content">Pinfluence</div>
      </h1>
    </div>
    <div class="column right aligned">
      <%= render partial: 'shared/menu' %>
    </div>
  </div>
</section>
