<div class="ui horizontal divided link list">
  <a class="item" href="<%= routes.home_path %>">Home</a>
  <a class="item" href="https://github.com/prosi-org/pinfluence" target="_blank">Github</a>
  <a class="item" href="<%= routes.about_path %>">About</a>
</div>
