<form action="<%= moments_api_url %>" method="GET" id="search-form" class="ui form">
  <div class="inline field">
    <div class="ui icon input">
      <i class="search icon"></i>
      <input placeholder="Search..." type="text" name="name" id="search-field">
    </div>
  </div>
</form>
