<a href="<%= routes.home_path %>">
  <h1 class="ui header">
    <img src="<%= asset_path 'logo.png' %>" class="ui mini image" alt="Logo" title="Logo" />
    <div class="content">
        Pinfluence
    </div>
  </h1>
</a>
