---
http_interactions:
- request:
    method: post
    uri: https://ua6ysns2dh-dsn.algolia.net/1/indexes/*/queries?strategy=none
    body:
      encoding: UTF-8
      string: '{"requests":[{"indexName":"people","params":"query=Socrates&hitsPerPage=7"},{"indexName":"events","params":"query=Socrates&hitsPerPage=7"}]}'
    headers:
      X-Algolia-Api-Key:
      - 89869638d077cd3c8e801dfe86a5db16
      X-Algolia-Application-Id:
      - UA6YSNS2DH
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Content-Disposition:
      - inline; filename=a.txt
    body:
      encoding: UTF-8
      string: '{"results":[{"hits":[],"nbHits":0,"page":0,"nbPages":0,"hitsPerPage":7,"processingTimeMS":1,"exhaustiveNbHits":true,"query":"Socrates","params":"query=Socrates&hitsPerPage=7","index":"people"},{"hits":[],"nbHits":0,"page":0,"nbPages":0,"hitsPerPage":7,"processingTimeMS":1,"exhaustiveNbHits":true,"query":"Socrates","params":"query=Socrates&hitsPerPage=7","index":"events"}]}

'
  recorded_at: Sat, 07 Oct 2017 10:07:17 GMT
- request:
    method: post
    uri: https://ua6ysns2dh-dsn.algolia.net/1/indexes/*/queries?strategy=none
    body:
      encoding: UTF-8
      string: '{"requests":[{"indexName":"people","params":"query=Socrates&hitsPerPage=7"},{"indexName":"events","params":"query=Socrates&hitsPerPage=7"}]}'
    headers:
      X-Algolia-Api-Key:
      - 89869638d077cd3c8e801dfe86a5db16
      X-Algolia-Application-Id:
      - UA6YSNS2DH
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Content-Disposition:
      - inline; filename=a.txt
    body:
      encoding: UTF-8
      string: '{"results":[{"hits":[],"nbHits":0,"page":0,"nbPages":0,"hitsPerPage":7,"processingTimeMS":1,"exhaustiveNbHits":true,"query":"Socrates","params":"query=Socrates&hitsPerPage=7","index":"people"},{"hits":[],"nbHits":0,"page":0,"nbPages":0,"hitsPerPage":7,"processingTimeMS":1,"exhaustiveNbHits":true,"query":"Socrates","params":"query=Socrates&hitsPerPage=7","index":"events"}]}

'
  recorded_at: Sat, 07 Oct 2017 10:07:56 GMT
recorded_with: VCR 3.0.3
