---
http_interactions:
- request:
    method: post
    uri: https://ua6ysns2dh.algolia.net/1/indexes/people/batch
    body:
      encoding: UTF-8
      string: '{"requests":[{"action":"addObject","body":{"objectID":1,"id":1,"name":"Dom
        Pedro I","gender":"male","type":"person","earliest_date":"1000-01-01"}},{"action":"addObject","body":{"objectID":2,"id":2,"name":"Dom
        Pedro II","gender":"male","type":"person","earliest_date":"1100-01-01"}}]}'
    headers:
      X-Algolia-Api-Key:
      - 89869638d077cd3c8e801dfe86a5db16
      X-Algolia-Application-Id:
      - UA6YSNS2DH
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Content-Disposition:
      - inline; filename=a.txt
    body:
      encoding: UTF-8
      string: '{"objectIDs":["1","2"],"taskID":270701031061}

'
  recorded_at: Sat, 07 Oct 2017 10:07:56 GMT
- request:
    method: post
    uri: https://ua6ysns2dh.algolia.net/1/indexes/events/batch
    body:
      encoding: UTF-8
      string: '{"requests":[{"action":"addObject","body":{"objectID":1,"id":1,"name":"Pedro
        War","type":"event","earliest_date":"1050-01-01"}}]}'
    headers:
      X-Algolia-Api-Key:
      - 89869638d077cd3c8e801dfe86a5db16
      X-Algolia-Application-Id:
      - UA6YSNS2DH
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Content-Disposition:
      - inline; filename=a.txt
    body:
      encoding: UTF-8
      string: '{"objectIDs":["1"],"taskID":270701031071}

'
  recorded_at: Sat, 07 Oct 2017 10:07:56 GMT
- request:
    method: post
    uri: https://ua6ysns2dh-dsn.algolia.net/1/indexes/*/queries?strategy=none
    body:
      encoding: UTF-8
      string: '{"requests":[{"indexName":"people","params":"query=Pedro&hitsPerPage=7"},{"indexName":"events","params":"query=Pedro&hitsPerPage=7"}]}'
    headers:
      X-Algolia-Api-Key:
      - 89869638d077cd3c8e801dfe86a5db16
      X-Algolia-Application-Id:
      - UA6YSNS2DH
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Content-Disposition:
      - inline; filename=a.txt
    body:
      encoding: UTF-8
      string: '{"results":[{"hits":[{"id":2,"name":"Dom Pedro II","gender":"male","type":"person","earliest_date":"1100-01-01","objectID":"2","_highlightResult":{"name":{"value":"Dom
        <em>Pedro</em> II","matchLevel":"full","fullyHighlighted":false,"matchedWords":["pedro"]},"gender":{"value":"male","matchLevel":"none","matchedWords":[]},"type":{"value":"person","matchLevel":"none","matchedWords":[]},"earliest_date":{"value":"1100-01-01","matchLevel":"none","matchedWords":[]}}},{"id":1,"name":"Dom
        Pedro I","gender":"male","type":"person","earliest_date":"1000-01-01","objectID":"1","_highlightResult":{"name":{"value":"Dom
        <em>Pedro</em> I","matchLevel":"full","fullyHighlighted":false,"matchedWords":["pedro"]},"gender":{"value":"male","matchLevel":"none","matchedWords":[]},"type":{"value":"person","matchLevel":"none","matchedWords":[]},"earliest_date":{"value":"1000-01-01","matchLevel":"none","matchedWords":[]}}}],"nbHits":2,"page":0,"nbPages":1,"hitsPerPage":7,"processingTimeMS":1,"exhaustiveNbHits":true,"query":"Pedro","params":"query=Pedro&hitsPerPage=7","index":"people"},{"hits":[{"id":1,"name":"Pedro
        War","type":"event","earliest_date":"1050-01-01","objectID":"1","_highlightResult":{"name":{"value":"<em>Pedro</em>
        War","matchLevel":"full","fullyHighlighted":false,"matchedWords":["pedro"]},"type":{"value":"event","matchLevel":"none","matchedWords":[]},"earliest_date":{"value":"1050-01-01","matchLevel":"none","matchedWords":[]}}}],"nbHits":1,"page":0,"nbPages":1,"hitsPerPage":7,"processingTimeMS":1,"exhaustiveNbHits":true,"query":"Pedro","params":"query=Pedro&hitsPerPage=7","index":"events"}]}

'
  recorded_at: Sat, 07 Oct 2017 10:07:59 GMT
[...]
