---
http_interactions:
- request:
    method: post
    uri: https://ua6ysns2dh.algolia.net/1/indexes/people/batch
    body:
      encoding: UTF-8
      string: '{"requests":[{"action":"addObject","body":{"objectID":1,"id":1,"name":"Dom
        Pedro I","gender":"male","type":"person","earliest_year":1000}},{"action":"addObject","body":{"objectID":2,"id":2,"name":"Dom
        Pedro II","gender":"male","type":"person","earliest_year":1100}}]}'
    headers:
      X-Algolia-Api-Key:
      - 89869638d077cd3c8e801dfe86a5db16
      X-Algolia-Application-Id:
      - UA6YSNS2DH
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Content-Disposition:
      - inline; filename=a.txt
    body:
      encoding: UTF-8
      string: '{"objectIDs":["1","2"],"taskID":27066984961}

'
  recorded_at: Fri, 29 Sep 2017 03:45:13 GMT
- request:
    method: post
    uri: https://ua6ysns2dh.algolia.net/1/indexes/events/batch
    body:
      encoding: UTF-8
      string: '{"requests":[{"action":"addObject","body":{"objectID":1,"id":1,"name":"Pedro
        War","type":"event","earliest_year":1050}}]}'
    headers:
      X-Algolia-Api-Key:
      - 89869638d077cd3c8e801dfe86a5db16
      X-Algolia-Application-Id:
      - UA6YSNS2DH
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Content-Disposition:
      - inline; filename=a.txt
    body:
      encoding: UTF-8
      string: '{"objectIDs":["1"],"taskID":27066984971}

'
  recorded_at: Fri, 29 Sep 2017 03:45:13 GMT
- request:
    method: post
    uri: https://ua6ysns2dh-dsn.algolia.net/1/indexes/*/queries?strategy=none
    body:
      encoding: UTF-8
      string: '{"requests":[{"indexName":"people","params":"query=Pedro&hitsPerPage=7"},{"indexName":"events","params":"query=Pedro&hitsPerPage=7"}]}'
    headers:
      X-Algolia-Api-Key:
      - 89869638d077cd3c8e801dfe86a5db16
      X-Algolia-Application-Id:
      - UA6YSNS2DH
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Content-Disposition:
      - inline; filename=a.txt
    body:
      encoding: UTF-8
      string: '{"results":[{"hits":[{"id":2,"name":"Dom Pedro II","gender":"male","type":"person","earliest_year":1100,"objectID":"2","_highlightResult":{"name":{"value":"Dom
        <em>Pedro</em> II","matchLevel":"full","fullyHighlighted":false,"matchedWords":["pedro"]},"gender":{"value":"male","matchLevel":"none","matchedWords":[]},"type":{"value":"person","matchLevel":"none","matchedWords":[]}}},{"id":1,"name":"Dom
        Pedro I","gender":"male","type":"person","earliest_year":1000,"objectID":"1","_highlightResult":{"name":{"value":"Dom
        <em>Pedro</em> I","matchLevel":"full","fullyHighlighted":false,"matchedWords":["pedro"]},"gender":{"value":"male","matchLevel":"none","matchedWords":[]},"type":{"value":"person","matchLevel":"none","matchedWords":[]}}}],"nbHits":2,"page":0,"nbPages":1,"hitsPerPage":7,"processingTimeMS":1,"exhaustiveNbHits":true,"query":"Pedro","params":"query=Pedro&hitsPerPage=7","index":"people"},{"hits":[{"id":1,"name":"Pedro
        War","type":"event","earliest_year":1050,"objectID":"1","_highlightResult":{"name":{"value":"<em>Pedro</em>
        War","matchLevel":"full","fullyHighlighted":false,"matchedWords":["pedro"]},"type":{"value":"event","matchLevel":"none","matchedWords":[]}}}],"nbHits":1,"page":0,"nbPages":1,"hitsPerPage":7,"processingTimeMS":1,"exhaustiveNbHits":true,"query":"Pedro","params":"query=Pedro&hitsPerPage=7","index":"events"}]}

'
  recorded_at: Fri, 29 Sep 2017 03:45:13 GMT
recorded_with: VCR 3.0.3
