html,
body {
  background-color: black;
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}
#search {
  top: 50px;
  left: 85px;
  position: absolute;
  z-index: 100;
}
#search .wrapper {
  position: relative;
}
#huge-value {
  color: white;
  left: 5px;
  top: 30px;
  position: absolute;
  z-index: 100;
}
#slider-huge {
  left: 28px;
  top: 70px;
  height: 90%;
  position: absolute;
  z-index: 100;
}
#map-container {
  margin-left: 75px;
}
#search-field {
  height: 20px;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #bbb;
  width: 200px;
  box-shadow: 2px 2px 9px #999;
}

#search-button {
  background: url('/assets/search-icon.png') no-repeat;
  height: 16px;
  width: 16px;
  position: absolute;
  right: 12px;
  border: 0;
  top: 8px;
  cursor: pointer;
}

.icon {
  width: 20px;
  margin-right: 5px;
  vertical-align: middle;
}
