html,
body {
  background-color: black;
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}
#search {
  top: 50px;
  left: 60px;
  position: absolute;
  z-index: 100;
}
#huge-value {
  color: white;
  left: 5px;
  top: 30px;
  position: absolute;
  z-index: 100;
}
#slider-huge {
  left: 15px;
  top: 70px;
  height: 90%;
  position: absolute;
  z-index: 100;
}
#map-container {
  margin-left: 50px;
}

.icon {
  width: 20px;
  margin-right: 5px;
  vertical-align: middle;
}
