.map-wrapper
  display: flex
  min-height: 100%
  height: 100%
  flex-direction: column

#map-container
  position: relative
  flex: 1

  #map
    position: absolute
    left: 0
    right: 0
    top: 0
    bottom: 0

.map.icon
  width: 20px
  margin-right: 5px
  vertical-align: middle
