<%= render partial: 'shared/content_header' %>

<div class="ui page padded grid">
  <div class="column">
    <h2 class="ui centered aligned page header">About</h2>
    <p>
      This is a non-profit open-source project made for students, teachers and curious.
      It shows influences that world have had through people and events, in a map.
    </p>

    <p>
      What you are seeing now is a really started project, and there is a lot of
      stuffs to be done. Not all informations are really accurate, there are some bugs
      to be fixed, and a ton of informations to be put on the map.
    </p>

    <p>
      If you have enjoyed the idea and project, join it! I need help from teachers,
      programmers, designers to make these project more beautiful and better usable,
      people to fill all informations, to share the project, to present it to schools.
    </p>

    <p>
      Your feedback is really important, so do not hesitate to do it.
      Better feedbacks becomes a better project wich become more people understanding
      about the world history.
    </p>

    <p>
      If you are interested to contribute, you can reach the code source in
      the <a target="_blank" href="https://github.com/prosi-org/pinfluence">Github</a> project page,
      or you call me personally in my email, since I do not have a better way in
      this moment: rafaeltravel88 (at) gmail (dot) com.
    </p>

    <p>
      Peace,<br />
      Rafael Soares
    </p>

    <p>
      Contributor:<br />
      <br />
      Brand logo by Cristiano Zoucas
    </p>
  </div>
</div>
